<div style="width: 800px; height: 540px; margin-left:400px;">
	<div class="templatemo-content-widget white-bg">
	<form action="admin/dichvu/them" class="templatemo-login-form" method="POST" enctype="multipart/form-data">
		<h2 class="margin-bottom-10" style="text-align: center;">Thêm Dịch Vụ</h2>
		<hr style="width: 100%; background-color:red;"/>
			<!-- {{-- form thêm --}} -->
		<div class="row form-group">
			<div class="col-lg-6 col-md-6 form-group" style="padding-bottom: 30px;">
			</div>
			<label class="control-label" for="inputNote" style="float: left;">
				<b>Tên Dịch Vụ :</b></label>
				<div  style="padding-left: 150px;">
					<input class="form-control" name="TenDichVu" placeholder="Nhập tên dịch vụ"/>
				</div>
			</div>
		<!-- {{-- Up Ảnh --}} -->
		<div class="row form-group">
      <div class="col-lg-12" style="margin-top: 30px;">
        <label class="control-label templatemo-block"style="float: left;"><b> Tải ảnh lên</b></label> 
        <div style="padding-left: 150px;">
          <input type="file" name="Hinh" class="filestyle" data-buttonName="btn-primary" data-buttonBefore="true" data-icon="false">
        </div>
        <p style="padding-left: 150px;">Kích thước ảnh tối đa là 5 MB.</p>               
      </div>
    </div>
		<div class="form-group text-right">
			<button type="submit" class="templatemo-blue-button">Thêm</button>
			<button type="reset" class="templatemo-white-button" style="margin-left: 10px;">Làm mới</button>
		</div>                           
	</form>
</div>
</div>