    <div class="row-fluid">
    <div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
        <li><a routerLink="/home"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Trang Chính</span></a></li>	
        <li>
            <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Thể Loại</span></a>
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a class="dropdown" routerLink="/themloai"><i class="icon-edit"></i><span class="hidden-tablet"> Thêm Thể Loại</span></a></li>
                    <li><a class="dropdown" routerLink="/danhsachloai"><i class="icon-align-justify"></i><span class="hidden-tablet"> Danh Sách</span></a></li>
                </ul>
            </li>
            <li><a class="dropmenu" href="#"><i class="icon-folder-open-alt"></i><span class="hidden-tablet"> Garena</span></a>
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a class="dropdown" routerLink="/themsp"><i class="icon-edit"></i><span class="hidden-tablet"> Thêm tài khoản</span></a></li>
                <li><a class="dropmenu" href="#"><i class="icon-align-justify"></i><span class="hidden-tablet"> Danh sách</span></a>
                    <ul class="nav nav-tabs nav-stacked main-menu">
    
                        <li><a class="dropdown" routerLink="/danhsachsp"><i class="icon-indent-left"></i><span class="hidden-tablet"> Liên Quân Mobile</span></a></li>
    
                        <li><a class="dropdown" routerLink="admin/teamobi/danhsach/2"><i class="icon-indent-left"></i><span class="hidden-tablet"> Pubg Mobile</span></a></li>
                    </ul>
                </ul></li>
            <li><a class="dropmenu" href="#"><i class="icon-folder-open-alt"></i><span class="hidden-tablet"> Dịch vụ</span></a>
            <ul>
                <li><a class="dropdown" routerLink="/themdv"><i class="icon-edit"></i><span class="hidden-tablet"> Thêm dịch vụ</span></a></li>
                <li><a class="dropdown" routerLink="/danhsachdv"><i class="icon-align-justify"></i><span class="hidden-tablet"> Danh sách</span></a></li>
            </ul></li>			
            <li><a class="dropmenu" href="#"><i class="icon-folder-open-alt"></i><span class="hidden-tablet"> Thông tin giao dịch</span></a>
            <ul>
                <li><a class="dropdown" routerLink="/danhsachtt"><i class="icon-align-justify"></i><span class="hidden-tablet"> Danh sách mua acc</span></a></li>
    
                <li><a class="dropdown" routerLink="/danhsachnap"><i class="icon-align-justify"></i><span class="hidden-tablet"> Danh sách nạp</span></a></li>
    
                <li><a class="dropdown" routerLink="/danhsachmuadv"><i class="icon-align-justify"></i><span class="hidden-tablet"> Danh sách mua dịch vụ</span></a></li>
            </ul></li>
            <li><a class="dropmenu" href="#"><i class="icon-folder-open-alt"></i><span class="hidden-tablet"> User</span></a>
            <ul>
                <li><a class="dropdown" routerLink="/themuser"><i class="icon-edit"></i><span class="hidden-tablet"> Thêm User</span></a></li>
                <li><a class="dropdown" routerLink="/danhsachuser"><i class="icon-align-justify"></i><span class="hidden-tablet"> Danh sách</span></a></li>
            </ul></li>
            <li><a class="dropmenu" href="#"><i class="icon-folder-open-alt"></i><span class="hidden-tablet"> Ảnh Chi tiết</span></a>
            <ul>
                <li><a class="dropdown" routerLink="/danhsachanhsp"><i class="icon-align-justify"></i><span class="hidden-tablet"> Danh sách</span></a></li>
            </ul></li>			
            <li><a routerLink="/dangnhap"><i class="icon-lock"></i><span class="hidden-tablet"> Trang đăng nhập</span></a></li>
        </ul>
    </div>
</div>