<div id="content" class="span10" style="width: 1097px;">
<ul class="breadcrumb">
<li>
    <i class="icon-home"></i>
    <a routerLink="/home">Trang chính</a> 
    <i class="icon-angle-right"></i>
</li>
<li><a href="#">Danh Sách Account</a></li>
</ul>
<div class="row-fluid sortable">		
<div class="box span12">
    <div class="box-header" data-original-title>
        <h2><i class="halflings-icon white user"></i><span class="break"></span>Tên Thể Loại</h2>
        <div class="box-icon">
            <a href="/themsp"><i class="halflings-icon white plus"></i></a>
        </div>
    </div>
    <div class="box-content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Thể Loại</th>
                    <th>Tên nhân Vật</th>
                    <th>Tài khoản</th>
                    <th>Mật Khẩu</th>
                    <th>Phái</th>
                    <th>Cấp độ</th>
                    <th>Sever</th>
                    <th>Giá bán(vnđ)</th>
                    <th>Ảnh</th>
                    <th>@@</th>
                </tr>
            </thead>   
            <tbody>
                <!-- in -->
                <tr>
                    <td>id</td>
                    <td class="center">idLoaiSP</td>
                    <td class="center">tenNV</td>
                    <td class="center">TaiKhoan</td>
                    <td class="center">MatKhau</td>
                    <td class="center">Phai</td>				
                    <td class="center">
                        <span class="label label-success">CapDo</span>
                    </td>
                    <td class="center">
                        <span class="label label-success">Sever</span>
                        </td>
                        <td class="center">
                            <span class="label label-success">Giaban</span>
                        </td>
                        <td class="center">
                            <img width="120px;" src="Upload/TEAMOBI/"/>
                        </td>
                        <td class="center">
                            <a class="btn btn-success" href="">
                                <i class="halflings-icon white add"></i>  
                            </a>
                            <a class="btn btn-info" href="/suasp">
                                <i class="halflings-icon white edit"></i>  
                            </a>
                            <a class="btn btn-danger" href="">
                                <i class="halflings-icon white trash"></i> 
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
</div>