<sidebar id="sidebar" class="app-sidebar">
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
       <div class="menu">
          <div class="menu-header">Menu</div>
          <div class="menu-item active">
             <a href="/home" class="menu-link">
             <span class="menu-icon"><i class="fa fa-laptop"></i></span>
             <span class="menu-text">Home</span>
             </a>
          </div>
         <div class="menu-item">
             <a routerLink="/cate/cate" class="menu-link">
             <span class="menu-icon"><i class="fa fa-battery-full"></i></span>
             <span class="menu-text">Quản Lý Thể Loại</span>
             </a>
         </div>
         <div class="menu-item has-sub">
            <a routerLink="/product/product" class="menu-link">
            <span class="menu-icon"><i class="fa fa-gamepad"></i></span>
            <span class="menu-text">Quản Lý Sản Phẩm</span>
            </a>
         </div>
         <div class="menu-item has-sub">
            <a routerLink="/user/user" class="menu-link">
            <span class="menu-icon"><i class="fa fa-users"></i></span>
            <span class="menu-text">Quản Lý User</span>
            </a>
         </div>
      </div>
   </div>
    <button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
 </sidebar>