<div id="content" style="width: 1097px;">
<ul class="breadcrumb">
<li>
    <i class="icon-home"></i>
    <a href="/home">Trang chính</a> 
    <i class="icon-angle-right"></i>
</li>
<li><a href="#">Bảng Danh Sách Loại Game</a></li>
</ul>
<div class="row-fluid sortable">		
<div class="box span12" >
    <div class="box-header" data-original-title>
        <h2><i class="halflings-icon white products"></i><span class="break"></span>Danh Sách Loại Game</h2>
        <div class="box-icon">
            <a href="#" class="btn-setting"><i class="halflings-icon white plus"></i></a>
            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
        </div>
    </div>
    <div class="box-content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên Thể Loại</th>
                    <th>Ảnh</th>
                    <th>Ngày tạo</th>
                    <th>Ngày cập nhật</th>
                </tr>
            </thead>   
            <tbody>
                <ng-container *ngFor="let tl of danhsachloai">
                    <tr>
                        <td>{{ tl.id }}</td>
                        <td class="center">{{ tl.tenTheLoai }}</td>
                        <td>
                        <img width="100px; " src="{{ tl.image }}"/>
                        </td>
                        <td>time</td>
                        <td>time</td>
                            <td class="center">
                                <a class="btn btn-success" href="#">
                                    <i class="halflings-icon white zoom-in"></i>  
                                </a>
                                <a class="btn btn-info" href="">
                                    <i class="halflings-icon white edit"></i>  
                                </a>
                                <a class="btn btn-danger" href="">
                                    <i class="halflings-icon white trash"></i> 
                                </a>
                            </td>
                        </tr>
                </ng-container>
                </tbody>
            </table>            
        </div>
    </div><!--/span-->
</div><!--/row-->
</div>